.auth-wrapper{
    background-image: url('../public/assets/images/wp-login.jpeg');
    object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #fff;
}
.login-form{
    background: #fff;
    height: calc(100vh - 50px);
    border-radius: 1rem;
    padding: 4rem 1rem 0 1rem ;
    color: black;
    position: relative;

}
.register-form{
    background: #fff;
    height: calc(100vh - 30px);
    border-radius: 1rem;
    padding: 4rem 1rem 0 1rem ;
    color: black;
    position: relative;
}
.register-form-small{
    background: #fff;
    height: calc(100vh - 30px);
    border-radius: 1rem;
    padding: 2rem 1rem 0 1rem ;
    color: black;
    position: relative;
}
.form-inputs{
    padding: 0 3rem;
    margin-top: -3rem;
}
.input-group:focus-within {
    background: #fff;
    border: 2px solid #d51f97;
}
.bottom-section{
    min-height: 3rem;
    max-height: 7rem;
    border-radius: 1rem;
    margin: auto 0 1rem 0;
}
.form-inputs-small{
    padding: 0 2rem;
    margin-top: -3rem;
}
.bottom-section-small{
    min-height: 3rem;
    max-height: 7rem;
    border-radius: 1rem;
    margin: auto 0 .5rem 0;
}



.profile-chooser::file-selector-button {
    background: transparent;
    border: none;
    color: #738b9b;
}

.btn_dark_red {
    background-color: #d51f97 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    height: 42px !important;
    border: none !important;
    padding: 0px 2rem !important;
    border-radius: 1.5rem !important;
}
.disabled-btn{
    background-color: #670c48!important;
}

.btn_dar_red_icons{
    display: flex!important;
    align-items: center!important;
    background-color: #d51f97 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    height: 42px !important;
    border: none !important;
    padding: 0px 2rem !important;
    border-radius: 1.5rem !important;
}
.group-input-otp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.ant-form-item-control-input-content{
    display: flex;
    gap: .5rem;
}

@media screen and (max-width: 720px) {
    .auth-wrapper{
        justify-content: center;
    }
    .form-inputs{
        padding: 0 .5rem;
        margin-top: -3rem;
    }
}

@media screen and (max-width: 420px) {
    .login-form{
        margin: 0 .5rem!important;
        height: 70%;
        width: 96%;
    }
    .form-inputs{
        width: 90%;
    }

}


@media screen and (max-width: 420px) and (max-height: 700px) {
    .login-form{
        height: 90%;
    }
}

@media screen and (min-width: 422px) and (max-width: 652px) {
    .login-form{
        width: 80%;
    }
    .form-inputs{
        width: 90%;
    }
}

